body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #081b28;
    color: #ffffff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.343);
    /* display: flex; */
    /* justify-content: space-around; */
    overflow: hidden;
    margin-bottom: 40px;
}

.navbar a{
    text-decoration: none; 
    font-size: larger;
    padding: 22px ;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
}

.navbar a:hover{
    /* text-decoration: underline; */
    color: #2bd6d1;
    font-weight: 900;
    text-shadow: 0 0 10px #11918c;
}

h1{
    text-align: center;
}

.navbar .icon{
    display: none;
}



@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) { 
        display: none;
    }

    .navbar a.icon {
        display: block;
        margin-left: auto; 
        float: right;
    }
}
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        display: block; 
        float: none;
        text-align: left;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0;
}

.image{
    /* padding: 50px 20px; */
    margin: 40px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.5), 0 0 80px rgba(0, 255, 255, 0.5); 
}

.image:hover {
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.8), 0 0 70px rgba(0, 255, 255, 0.8), 0 0 90px rgba(0, 255, 255, 0.8);
}

#about{
    font-size: 40px;
}


@media screen and (max-width: 600px) {
    .image{
        width: 180px;
        margin-top: 70px;
    }
    section{
        flex-direction: column;
    }
    #about{
        font-size: 20px;
    }
}


.name-animation {
    color: #2bd6d1;
    font-size: 2em;
    font-weight: bold;
    /* font-family: 'Lucide Grande',Arial, sans-serif; */
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    opacity: 0; 
    position: relative; 
    animation: slideInFromLeft 2s ease-in-out forwards; 
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        left: -100%; 
    }
    100% {
        opacity: 1;
        left: 0; 
    }
}