body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #081b28;
    color: #ffffff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.343);
    /* display: flex; */
    /* justify-content: space-around; */
    overflow: hidden;
    margin-bottom: 40px;
}

.navbar a{
    text-decoration: none; 
    font-size: larger;
    padding: 22px ;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
}

.navbar a:hover{
    /* text-decoration: underline; */
    color: #2bd6d1;
    font-weight: 900;
    text-shadow: 0 0 10px #11918c;
}

h1{
    text-align: center;
}

.navbar .icon{
    display: none;
}



@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) { 
        display: none;
    }

    .navbar a.icon {
        display: block;
        margin-left: auto; 
        float: right;
    }
}
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        display: block; 
        float: none;
        text-align: left;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0;
}

.image{
    /* padding: 50px 20px; */
    
    margin: 40px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.5), 0 0 80px rgba(0, 255, 255, 0.5); 
}

.image:hover {
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.8), 0 0 70px rgba(0, 255, 255, 0.8), 0 0 90px rgba(0, 255, 255, 0.8);
}

#about{
    font-size: 40px;
}


@media screen and (max-width: 600px) {
    .image{
        width: 180px;
        margin-top: 70px;
    }
    section{
        flex-direction: column;
    }
    #about{
        font-size: 20px;
    }
}


.name-animation {
    color: #2bd6d1;
    font-size: 2em;
    font-weight: bold;
    /* font-family: 'Lucide Grande',Arial, sans-serif; */
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    opacity: 0; 
    position: relative; 
    animation: slideInFromLeft 2s ease-in-out forwards; 
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
        /* left: -100%;  */
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        /* left: 0;  */
    }
}

h2{
    text-align: center;
}

.technical-skills{
    width: 45%;
    font-size: x-large;
}

.technical-skills ul{
    list-style: none;
    padding: 0;
}

.skill {
    margin-bottom: 20px;
}

.progress-bar {
    width: 90%;
    height: 10px;
    background-color: #333;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}


.progress-bar div {
    height: 100%;
    background-color: #2bd6d1;
    border-radius: 5px; 
    /* animation: slideInFromLeft 2s ease-in-out forwards; */
}

@media screen and (max-width: 600px) {
    .technical-skills{
        width: 80%;
        font-size: large;
    }
}

#projects {
    padding: 50px 0;
    background-color: #081b28; 
    color: #333; 
}

#projects h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    color: #f6f8f8;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 5%;
    font-size: 24px;
    background-color:#8ddad7 ; 
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(8, 48, 79, 0.814); 
    padding: 30px;
    width: 80%; 
    text-align: center;
}

.project-card h3 {
    font-size: 1.5em;
    color: #081b28;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 0.8em;
    margin-bottom: 15px;
    padding-bottom: 40px;
    text-align: left;
}

.project-card .date {
    font-size: 0.9em;
    color: #686666;
}

.project-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 12px 25px rgba(61, 132, 148, 0.926); 
}

.project-img{
    width: 100%;
    padding-right: 20px;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.5s ease;
}

.project-img:hover {
    mask-image: none;
    transform: scale(1.05); 
}

.project-image{
    width: 45%;
}

.project-info{
    width: 45%;
}


@media screen and (max-width: 600px) {
    .project-card {
        flex-direction: column; 
        padding: 20px;
    }
    .project-image{
        width: 100%;
        padding: 0;
    }
    .project-img{
        padding: 0;
    }
    .project-info{
        width: 100%;
    }
    #projects h2 {
        font-size: 2.5em;
    }
}



#contact ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#contact li{
    padding: 20px;
    font-size: 50px;
}

#contact li i{
    color: #2bd6d1;
}

#contact li i:hover{
    transform: scale(1.2);
    color: #0598b3;
}

#education{
    flex-direction: column;
    font-size: 1.5em;
    width: 80%; 
    margin: 10%;
}

.education-container {
    background-color:#8ddad7 ; 
    box-shadow: 0 6px 10px rgba(8, 48, 79, 0.814); 
    color: #081b28;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
}

.degree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    #education{
        font-size: small;
    }

        .education-container {
            padding: 5px;
        }
}

.qoute{
    font-size: larger;
    font-style: italic;
    color: #2bd6d1;
    text-align: center;
    justify-content: center;
    animation: slideInFromLeft 4s ease-in-out forwards;
}

#about-info{
    font-size: 1.5em;
    margin: 10%;
    color: #f6f8f8;
    width: 80%;
}

#about-info p{
    font-size: 1.5em;
}

#about-info h2{
    font-size: 2em;
}

.blue-text{
    color: #2bd6d1;
}